{extend name="Public:index" /}
{block name="main"}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Projects</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total 95 projects.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Open</span></a></li>
                                                        <li><a href="#"><span>Closed</span></a></li>
                                                        <li><a href="#"><span>Onhold</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#compose-mail"><em class="icon ni ni-plus"></em><span>Add Project</span></a></li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <table class="nk-tb-list is-separate nk-tb-ulist">
                        <thead>
                        <tr class="nk-tb-item nk-tb-head">
                            <th class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="pid-all">
                                    <label class="custom-control-label" for="pid-all"></label>
                                </div>
                            </th>
                            <th class="nk-tb-col"><span class="sub-text">Project Name</span></th>
                            <th class="nk-tb-col tb-col-xxl"><span class="sub-text">Client</span></th>
                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Project Lead</span></th>
                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">Team</span></th>
                            <th class="nk-tb-col tb-col-xxl"><span class="sub-text">Status</span></th>
                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Progress</span></th>
                            <th class="nk-tb-col tb-col-mb"><span class="sub-text">Deadline</span></th>
                            <th class="nk-tb-col nk-tb-col-tools text-right">
                                <div class="dropdown">
                                    <a href="#" class="btn btn-xs btn-trigger btn-icon dropdown-toggle mr-n1" data-toggle="dropdown" data-offset="0,5"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#"><em class="icon ni ni-check-round-cut"></em><span>Mark As Done</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-archive"></em><span>Mark As Archive</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Projects</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                        </tr><!-- .nk-tb-item -->
                        </thead>
                        <tbody>
                        <tr class="nk-tb-item">
                            <td class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="pid-01">
                                    <label class="custom-control-label" for="pid-01"></label>
                                </div>
                            </td>
                            <td class="nk-tb-col">
                                <a href="html/apps-kanban.html" class="project-title">
                                    <div class="user-avatar sq bg-purple"><span>DD</span></div>
                                    <div class="project-info">
                                        <h6 class="title">Dashlite Development</h6>
                                    </div>
                                </a>
                            </td>
                            <td class="nk-tb-col tb-col-xxl">
                                <span>Softnio</span>
                            </td>
                            <td class="nk-tb-col tb-col-lg">
                                <span>Abu Bin Istiak</span>
                            </td>
                            <td class="nk-tb-col tb-col-lg">
                                <ul class="project-users g-1">
                                    <li>
                                        <div class="user-avatar sm bg-primary"><span>A</span></div>
                                    </li>
                                    <li>
                                        <div class="user-avatar sm bg-blue"><img src="/demo/src/images/avatar/b-sm.jpg" alt=""></div>
                                    </li>
                                    <li>
                                        <div class="user-avatar bg-light sm"><span>+12</span></div>
                                    </li>
                                </ul>
                            </td>
                            <td class="nk-tb-col tb-col-xxl">
                                <span>Open</span>
                            </td>
                            <td class="nk-tb-col tb-col-md">
                                <div class="project-list-progress">
                                    <div class="progress progress-pill progress-md bg-light">
                                        <div class="progress-bar" data-progress="93.5"></div>
                                    </div>
                                    <div class="project-progress-percent">93.5%</div>
                                </div>
                            </td>
                            <td class="nk-tb-col tb-col-mb">
                                <span class="badge badge-dim badge-warning"><em class="icon ni ni-clock"></em><span>5 Days Left</span></span>
                            </td>
                            <td class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="html/apps-kanban.html"><em class="icon ni ni-eye"></em><span>View Project</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-edit"></em><span>Edit Project</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-check-round-cut"></em><span>Mark As Done</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr><!-- .nk-tb-item -->
                        </tbody>
                    </table><!-- .nk-tb-list -->
                    <div class="card">
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g">
                                    <ul class="pagination justify-content-center justify-content-md-start">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul><!-- .pagination -->
                                </div>
                                <div class="g">
                                    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                        <div>Page</div>
                                        <div>
                                            <select class="form-select form-select-sm" data-search="on" data-dropdown="xs center">
                                                <option value="page-1">1</option>
                                                <option value="page-2">2</option>
                                                <option value="page-4">4</option>
                                                <option value="page-5">5</option>
                                                <option value="page-6">6</option>
                                                <option value="page-7">7</option>
                                                <option value="page-8">8</option>
                                                <option value="page-9">9</option>
                                                <option value="page-10">10</option>
                                                <option value="page-11">11</option>
                                                <option value="page-12">12</option>
                                                <option value="page-13">13</option>
                                                <option value="page-14">14</option>
                                                <option value="page-15">15</option>
                                                <option value="page-16">16</option>
                                                <option value="page-17">17</option>
                                                <option value="page-18">18</option>
                                                <option value="page-19">19</option>
                                                <option value="page-20">20</option>
                                            </select>
                                        </div>
                                        <div>OF 102</div>
                                    </div>
                                </div><!-- .pagination-goto -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!--添加菜单-->
<div class="modal fade" tabindex="-1" role="dialog" id="compose-mail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">添加菜单</h6>
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            </div>
            <div class="modal-body p-0">
                <div class="nk-reply-form-header">
                    <div class="nk-reply-form-group">
                        <div class="nk-reply-form-input-group">
                            <div>
                                <div class="form-group">
                                    <label class="form-label" for="default-01">菜单名称</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="default-01" placeholder="菜单名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">菜单类型</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select form-control form-control-lg" onchange="option_change(this.value)">
                                            <option value="0">请选择</option>
                                            <option value="1">主菜单</option>
                                            <option value="2">子菜单</option>
                                            <option value="3">功能</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="parent_option" style="display: none">
                                    <label class="form-label">父级菜单</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select form-control form-control-lg">
                                            <option value="default_option">请选择</option>
                                            <option value="option_select_name">1</option>
                                            <option value="option_select_name">2</option>
                                            <option value="option_select_name">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="option_icon" style="display: none">
                                    <label class="form-label" for="default-01">菜单图标 <a target="_blank" href="http://yaoadmin.com/demo/src/html/components/misc/nioicon.html">图标库</a></label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="default-02" placeholder="菜单图标">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="default-01">菜单规则</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="default-03" placeholder="Model-Controller-Action">
                                    </div>
                                </div>
                                <button type="button" id="submint" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script type="application/javascript">
    function option_change(value) {
        if(value==1){
            $("#option_icon").show();
        }else{
            $("#option_icon").hide();
        }
        if(value==2){
            $("#parent_option").show();
        }else{
            $("#parent_option").hide();
        }
    }
    function load_add() {
        $("#submint").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>\n' +
            '  <span class="sr-only">Loading...</span>').attr("disabled",true);
    }
    function load_end() {
        $("#submint").html('提交').attr("disabled",false);
    }
</script>
{/block}
