{extend name="Public:index" /}
{block name="main"}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">管理员列表</h3>
                            <div class="nk-block-des text-soft">
                                <p>你现在拥有{$count}个管理员.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="more-options"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="more-options">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right" onclick="list_change()">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="keyword" placeholder="管理员名称">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="drodown">
                                                <select class="form-select form-control form-control-lg" id="list_search" name="list_search" onchange="list_change()">
                                                    <option value="0">请选择</option>
                                                    <option value="2" {if $status==2}selected{/if}>开启</option>
                                                    <option value="1" {if $status==1}selected{/if}>关闭</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt" data-toggle="modal" data-target="#add_user">
                                            <a href="#" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                            <a href="#" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>添加管理员</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-tb-list is-separate mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col"><span class="sub-text">用户</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">电话</span></div>
                            <div class="nk-tb-col tb-col-md"><span class="sub-text">状态</span></div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger mr-n1" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email to All</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend Selected</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Seleted</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset Password</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                        {if !empty($list)}
                        {foreach $list as $item}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col">
                                <a href="">
                                    <div class="user-card">

                                        <div class="user-avatar bg-primary">
                                            {if !$item['avatar']}
                                                <span><?php echo mb_substr( $item['name'], 0, 1 );?></span>
                                            {else/}
                                                <img src="{$item['avatar']}"/>
                                            {/if}
                                        </div>

                                        <div class="user-info">
                                            <span class="tb-lead">{$item['name']}<span class="dot dot-success d-md-none ml-1"></span></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span>{$item['phone']}</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                {if $item['status']==2}
                                    <span class="badge badge-success">开启</span>
                                {else/}
                                    <span class="badge badge-danger">关闭</span>
                                {/if}
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden">
                                        <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Send Email">
                                            <em class="icon ni ni-mail-fill"></em>
                                        </a>
                                    </li>
                                    <li class="nk-tb-action-hidden">
                                        <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Suspend">
                                            <em class="icon ni ni-user-cross-fill"></em>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li onclick="user_info({$item['id']})"><a href="#"><em class="icon ni ni-eye"></em><span>修改</span></a></li>

                                                    <li onclick="user_disable({$item['id']})"><a href="#"><em class="icon ni ni-repeat"></em><span>
                                                      {if $item['status']==2}
                                                        禁用
                                                      {else/}
                                                        启用
                                                      {/if}

                                                    </span></a></li>

                                                    <li onclick="user_del({$item['id']})"><a href="#"><em class="icon ni ni-activity-round"></em><span>删除</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                        {/foreach}
                        {/if}

                    </div><!-- .nk-tb-list -->
                    <div class="card">
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                {$page|raw}
                            </div><!-- .nk-block-between -->
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!--添加页面-->
<div class="modal fade" tabindex="-1" id="add_user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">管理员详情</h6>
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            </div>
            <div class="modal-body p-0">
                <div class="nk-reply-form-header">
                    <div class="nk-reply-form-group">
                        <div class="nk-reply-form-input-group">
                            <form id="user_sub" action="#" >
                                <div>
                                    <div class="form-group">
                                        <label class="form-label" >管理员名称</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="user_name" name="user_name"  placeholder="管理员名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" >管理员密码</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="user_password" name="user_password"  placeholder="管理员密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" >确认密码</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="user_password2" name="user_password2"  placeholder="管理员密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" >管理员手机号</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="user_phone" name="user_phone"  placeholder="管理员手机号">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">权限分组</label>
                                        <div class="form-control-wrap">
                                            <select class="form-select form-control form-control-lg" id="user_group" name="user_group">
                                                <option value="0">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">管理员头像</label>
                                        <div id="avatar_div" class="rounded-circle avatar" style="height: 150px">
                                            <span class="nk-menu-icon"><em class="icon ni ni-plus"></em></span>
                                        </div>
                                        <input type="file" multiple="" class="custom-file-input" id="avatar" name="avatar" style="display: none">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">是否开启</label>
                                        <div class="form-control-wrap  custom-switch">
                                            <input type="checkbox" class="custom-control-input" checked id="user_status"  value="2">
                                            <label class="custom-control-label"  for="user_status">开启</label>
                                        </div>
                                    </div>

                                    <button type="submit" id="submint" class="btn btn-primary" style="float: right">提 交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .avatar{
        height: 150px;
        border: 1px dashed #d9d9d9;
        width: 150px;
        text-align:center;
        line-height: 150px;
        cursor:pointer
    }
</style>
<script src="/demo/src/assets/js/public.js"></script>
<script type="application/javascript">
    var exit_id="";
    function list_change() {
        let status=$("#list_search").val();
        let keyword=$("#keyword").val();
        window.location.href="/admin/user/index?status="+status+"&keyword="+keyword;
    }
    /**
     * 用户详情
     * @param id
     */
    function user_info(id){
        exit_id=id;
        $.ajax({
            url: '/admin/user/user_info',
            type : "post",
            data:{"id":id},
            dataType : "json",
            success : function(data) {
                let user_info=data.data.user_info;
                $("#user_group").val(user_info.group_id).trigger("change");
                $("#user_name").val(user_info.name);
                $("#user_phone").val(user_info.phone);
                $("#avatar").val(user_info.avatar);
                if(user_info.status==2){
                    $("#user_status").prop("checked",true);
                }else{
                    $("#user_status").prop("checked",false);
                }
                $("#add_user").modal();
            }
        });
    }

    /**
     * 用户禁用/启用
     * @param id
     */
    function user_disable(id){
        $.ajax({
            url: '/admin/user/user_disable',
            type : "post",
            data:{"id":id},
            dataType : "json",
            success : function(data) {
                if(data.error){
                    toast(data.message,"error");
                }else{
                    toast(data.message,"","",function () {
                        window.location.reload();
                    });
                }
            }
        });
    }

    /**
     * 用户删除
     * @param id
     */
    function user_del(id){
        Swal.fire({
            title: '确定删除吗？',
            text: "删除后无法还原！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes'
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/admin/user/user_del',
                    type : "post",
                    data:{"id":id},
                    dataType : "json",
                    success : function(data) {
                        if(data.error){
                            toast(data.message,"error");
                        }else{
                            toast(data.message,"","",function () {
                                window.location.reload();
                            });
                        }
                    }
                });
            }
        });

    }
    window.onload=function () {
        $("#avatar_div").click(function(){
            $("#avatar").trigger("click");
        });
        $.ajax({
            url: '/admin/user/auth_group',
            type : "post",
            dataType : "json",
            success : function(data) {
                let list=data.data.data;
                if(list.length){
                    let html="";
                    for(let i=0;i<list.length;i++){
                        let item=list[i];
                        html+="<option value ='"+item.id+"'>"+item.title+"</option>";
                    }
                    $("#user_group").html(html);
                    $("#user_group").trigger('change');//重新渲染
                }
            }
        });
        //模态框隐藏的时候初始化表单
        $('#add_user').on('hide.bs.modal', function () {
            $("#user_group").val(0).trigger("change");
            $("#user_name").val("");
            $("#user_password").val("");
            $("#user_password2").val("");
            $("#user_phone").val("");
            $("#avatar").val("");
            load_end("submint");
            exit_id=""
        })
        $("#user_sub").validate({
            rules:
                {
                    user_name:
                        {
                            required: true,
                            maxlength: 15
                        },
                    user_password:
                        {
                            minlength: 6,
                            maxlength: 15,
                        },
                    user_password2:
                        {
                            equalTo: "#user_password"
                        },
                    user_phone:
                        {
                            required: true,
                            verify_phone: true,
                        },
                },
            messages:
                {
                    user_name:
                        {
                            required: "用户名称不能为空",
                            maxlength: "用户名称不能大于15位"
                        },
                    user_password:
                        {
                            minlength: "密码不能少于6位",
                            maxlength: "密码不能多于15位",
                        },
                    user_password2:
                        {
                            equalTo: "两次密码输入不一致",
                        },
                    user_phone:
                        {
                            required: "请填写管理员手机号",
                            verify_phone: "请填写正确的手机号",
                        },
                },
            submitHandler:function (form) {
                load_add("submint");
                if(!$("#user_password").val()&&!exit_id){
                    toast("请填写密码","error");
                }
                $.ajax({
                    url : "/admin/user/add",
                    type : "post",
                    dataType : "json",
                    data: {
                        id:exit_id,
                        group:$("#user_group").val(),
                        name: $("#user_name").val(),
                        phone: $("#user_phone").val(),
                        password: $("#user_password").val(),
                        avatar: $("#avatar").val(),
                        status: $("#user_status:checked").val(),
                    },
                    success : function(data) {
                        load_end("submint");
                        if(data.status==200){
                            toast(data.message,"success","",function () {
                                window.location.reload()
                            });
                            $('#add_user').modal('hide')
                        }else{
                            toast(data.message,"error");
                        }
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        toast("访问出错","error","",function () {
                            load_end("submint");
                        });
                    }
                });
            }

        });
    }
</script>
{/block}